<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
        <link id="theme" rel="stylesheet" type="text/css" href="/static/css/styles-light.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="heading">
                <img class="image">
                <h1 id="title">Title</h1>
            </div>
            <div class="topnav">
                <a class="option" href="http://127.0.0.1:5000">Home</a>
                <a class="option" href="http://127.0.0.1:5000/signup">Sign Up</a>
                <a class="active" href="http://127.0.0.1:5000/login">Login</a>
                <a class="option" href="http://127.0.0.1:5000/dashboard">Dashboard</a>
                <a class="option" href="http://127.0.0.1:5000/admin">Admin</a>
                <button onclick="toggleTheme()" class="option" href="http://127.0.0.1:5000/login">Change Page Theme</button>
                <script>
                    function toggleTheme() {
                        let theme = document.getElementById('theme');
                        if (theme.getAttribute('href') == '/static/css/styles-light.css') {
                            theme.setAttribute('href', '/static/css/styles-dark.css');
                        } else {
                            theme.setAttribute('href', ' /static/css/styles-light.css')
                        }
                    }
                </script>
            </div>
        </header>
        <div id="login-container">
            <h2 id="login-header">Login</h2>
            <form action="{{url_for('login')}}" method="POST">
                <input type="email" name="user_email" placeholder="User Email" required>
                <input type="password" name="user_password" placeholder="User Password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>