<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up Page</title>
        <link rel="stylesheet" href="static/css/styles-light.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="heading">
                <img src="static/images/studentlogo.png" alt="GibJohn's Tutoring logo of a graduation cap">
                <h1 id="title">Title</h1>
            </div>
            <div class="topnav">
                <a class="option" href="http://127.0.0.1:5000">Home</a>
                <a class="active" href="http://127.0.0.1:5000/signup">Sign Up</a>
                <a class="option" href="http://127.0.0.1:5000/login">Login</a>
                <a class="option" href="http://127.0.0.1:5000/dashboard">Dashboard</a>
                <a class="option" href="http://127.0.0.1:5000/admin">Admin</a>
                <button onclick="toggleTheme()" class="option" href="http://127.0.0.1:5000/signup">Change Page Theme</button>
                <script>
                    function toggleTheme() {
                        let theme = document.getElementById('theme');
                        if (theme.getAttribute('href') == '/static/css/styles-light.css') {
                            theme.setAttribute('href', '/static/css/styles-dark.css');
                        } else {
                            theme.setAttribute('href', ' /static/css/styles-light.css')
                        }
                    }
                </script>
            </div>
        </header>
        <div id="signup-container">
            <h2 id="signup-header">Sign Up</h2>
            <form action="{{url_for('signup')}}" method="POST">
                <input type="text" name="user_name" placeholder="Username" required>
                <input type="email" name="user_email" placeholder="User Email" required>
                <input type="password" name="user_password" placeholder="User Password" required>
                <select id="user_type" name="user_type" required>
                    <option value="">Select User Type</option>
                    <option value="student">Student</option>
                    <option value="tutor">Tutor</option>
                    <option value="admin">Admin</option>
                </select>
                <input type="date" id="dob" name="user_dob" required>
                <button type="submit">Create Account</button>
            </form>


        </div>
    </body>
</html>